<a href="https://colab.research.google.com/github/MkShaon/Machine-Learning-and-Deep-Learning/blob/main/1_1_2_5_Google_Colaboratory_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.1 System Specifications

Installing Libraries

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/1000_Companies.csv')

In [ ]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
print('Machine Learning')

Machine Learning

In [ ]:
!ls

1000_Companies.csv  drive  sample_data

# 2.2 Print Function

In [ ]:
print("Machine Learning")

Machine Learning

# Data Types
Basic Data Types
  1. int
  2. float
  3. str

In [ ]:
type(10)

int

In [ ]:
type(10.7)

float

In [ ]:
type("MK Shaon")

str

# Constants and Variables

In [ ]:
superhero = "GOKU"
print(superhero)

GOKU

In [ ]:
hero1,hero2,hero3 = "GOKU", "Spiderman", "Tyson"
print(hero1)
print(hero2)
print(hero3)

GOKU
Spiderman
Tyson

In [ ]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

# input Function

In [ ]:
number_1 = int(input("Enter the first number: "))
number_2 = int(input("Enter the second number: "))
print(number_1 + number_2)

Enter the first number: 50
Enter the second number: 75
125

#Changing the datatypes

In [ ]:
num = 5
float(num)
print(float(num))

5.0

# Data Types
  1.   Integer
  2.   Float
  3.   Complex
  4.   Boolean
  5.   String

In [ ]:
#Integers
a = 8
print(a)
type(a)

8

int

In [ ]:
#Floating points
b = 2.3
print(b)
type(b)

2.3

float

In [ ]:
#complex numbers
c = 1+3j
print(c)
type(c)

(1+3j)

complex

In [ ]:
# Coversion of one datatype to another
# int to float
a = 8
print(a)
type(a)

8

int

In [ ]:
y = float(a)
print(y)
type(y)

8.0

float

In [ ]:
# Float to int
x = 8.55
print(x)
type(x)

8.55
8

int

In [ ]:
y = int(x)
print(y)
type(y)

8

int

In [ ]:
# Boolean
# 1. True
# 2. False
a = True
print(a)
type(a)

True

bool

In [ ]:
b = False
print(b)
type(b)

False

bool

In [ ]:
a = 7 < 3
print(a)
type(a)

False

bool

In [ ]:
a = 7> 3
print(a)
type(a)

True

bool

In [ ]:
# String
print("Machine Learning")
print('Machine Learning')

Machine Learning
Machine Learning

In [ ]:
my_string = "Machine Learning"
print(my_string)
type(my_string)

Machine Learning

str

In [ ]:
print("Hello World"*5)

Hello WorldHello WorldHello WorldHello WorldHello World

In [ ]:
my_string ="Programming" # values from index 2 to 5-2 will be sliced
print(my_string[2:5])

ogr

In [ ]:
#step
print(my_string[0:10:2])

Pormi

In [ ]:
#String Concatenation
word1 = "Machine "
word2 = "Learning"

print(word1+word2 )

Machine Learning

Special datatypes
1. List
2. Set
3. Dictionary

List

In [ ]:
#list should be included in the square brackets
# its like Array
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
#lists can have multiple datatypes
my_list = [2,3,1.8, 'English', True]
print(my_list)
type(my_list)

[2, 3, 1.8, 'English', True]

list

In [ ]:
#Lists are mutable--> Changeable
#add elements to a list
my_list = [2,3,1.8, 'English', True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [ ]:
# print elements of the list using their index
print(my_list[0])
print(my_list[5])

2
6

In [ ]:
#Check elements of the list / size of the list
print(len(my_list))

6

In [ ]:
#initiating empty list
list_2 = []
print(list_2)

[]

In [ ]:
list_2.append(10)
print(list_2)

[10, 10]

In [ ]:
#delete an item in the list
list2 = [2,3,1.8, 'English', True]
print(list2)

del list2[2]
print(list2)

[2, 3, 1.8, 'English', True]
[2, 3, 'English', True]

In [ ]:
# join two lists
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9]
list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#Tupple
Tupple are not changeable

In [ ]:
tuple_1 = (1,2,3,4,5)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [ ]:
#tuple allows multiple datatypes in a single tuple
tuple_2 = (1,2,3,4,5, 'Machine Learning', False)
print(tuple_2)
type(tuple_2)

(1, 2, 3, 4, 5, 'Machine Learning', False)

tuple

In [ ]:
#converting a list to a tuple
my_list = [3,4,5,6]
print(my_list)


my_tuple = tuple(my_list)
print(my_tuple)
type(my_list)

[3, 4, 5, 6]
(3, 4, 5, 6)

list

#Set
Set does not allowed repeated values

In [ ]:
# set --> curly brackets {}
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
#convert a list to a set
list5 = [5,6,7,8,9]

x = set(list5)
print(x)
type(x)

{5, 6, 7, 8, 9}

set

#Dictionary
Key-Value pair
One key is assigned to one variable...like wighted graph...
Dictionary does not allow duplicate values

In [ ]:
my_dictionary = {'name' : 'Mk', 'age' : 30, 'country' : 'Bangladesh'}
print(my_dictionary)
type(my_dictionary)

{'name': 'Mk', 'age': 30, 'country': 'Bangladesh'}

dict

In [ ]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

Mk
30
Bangladesh