<a href="https://colab.research.google.com/github/MkShaon/Machine-Learning-and-Deep-Learning/blob/main/2_5_2_8_Operators_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OPERATORS
Operators in Python:
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

1. Artihmetic operators

In [ ]:
num_1 = 20
num_2 = 10
# addition
sum = num_1 + num_2
print("sum = ", sum)

#Subtraction
difference = num_1 - num_2
print("Subtracted value = ", difference)


# multiplication
product = num_1 * num_2
print("Product = ", product)

#division
div = num_1 / num_2
print("Divison = ", div)

# exponential
exp = num_1**num_2 #20^10
print("Exponential = ", exp)

#Modulus
mod = num_1%num_2
print("Modulus/Remainder =", mod)

sum =  30
Subtracted value =  10
Product =  200
Divison =  2.0
Exponential =  10240000000000
Modulus/Remainder = 0

2. Assignment Operators
1. +=
2. -=
3. *=
4. **=
5. /=
6. %=

In [ ]:
a = 5
print(a)

5

In [ ]:
b = 5
b += 5 # b = b+5
print(b)

10

In [ ]:
c = 5
c -= 5 # c = c-5
print(c)

0

3. Comparison Operators

In [ ]:
d = 5
e = 10
print(d == e)
print(d != e)
print(d > e)
print(d<e)
print(d<=e)
print(d>=e)

False
True
False
True
True
False

4. Logical Operators

*  AND GATE
*  OR GATE
*  NOT GATE

In [ ]:
f = 10
print(f>20 and f>5)
print(f>5 and f<11)
print(f>20 or f>5)
print(f>5 or f<11)
print(not(f>8 and f>5))

False
True
True
True
False

5. Identity operator

In [ ]:
x = 5
y = 4

print( x is y)
print(x is not y)

False
True

6. Membership Operator:
*   in
*   not in

In [ ]:

m = 5
n = 6
o = [3,4,5,6,7,8,9]

print(m in o)
print (n in o)
print(m&n in o )
print(m not in o)

True
True
True
False

# Simple if-else statement

In [ ]:
a = 30
b = 30
if(a>b):
  print("a is greatest number")
else:
    print("b is greatest number")

b is greatest number

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
if(a>b):
  print("First number is greater. The greater number is: ", a )
else:
  print("Second number is greater. The greater number is: ", b)

Enter the first number: 500
Enter the second number: 499
First number is greater. The greater number is:  500

In [ ]:
#if(): .... elif():.......else():
a = 500
b = 600
c = 1000
if(a>b>c):
  print("a is the largest number. a= ",a)
elif(b>a>c):
  print("b is the largest number. b= ",b)
else:
  print("c is the largest number. c= ",c)

c is the largest number. c=  1000

In [ ]:
# Nested if-else
a = 100
b = 200
c = 150

if(a>b):
  if(a>c):
    print("a is the largest number.")
  else:
    print("c is the largest number.")
else:
  print("b is the largest number.")

b is the largest number.

# Loops
 1. for loop
 2. while loop

In [ ]:
# for loop
for i in range(3):
  laptop_price = int(input("Enter the prices of the notebooks: "))

Enter the prices of the notebooks: 5000
Enter the prices of the notebooks: 4000
Enter the prices of the notebooks: 2000

In [ ]:
number= [10,20,30,40]
print(number[0])
print(number[1])
print(number[2])
print(number[3])

10
20
30
40

In [ ]:
numbers = [1,5,7,8,9,20]
for i in numbers:
  print(i)

1
5
7
8
9
20

In [ ]:
#While loop
i = 0
while i<10:
  print(i)
  i += 1 # i = i+1

0
1
2
3
4
5
6
7
8
9

#Functions
Function is a block of code that can be resued in a program

In [ ]:
# Factorial of a number
#Factorial of 5 = 5 * 4 * 3 * 2 * 1 = 120
number = int(input("Enter a number to find its factorial: "))
factorial = 1
if number == 0:
  print("The factorial of 0 = 1")
else:
  for i in range(1, number+1): # range(1, 6) --> 1,2,3,4,5
    factorial = factorial*i

print("The factorial of", number, "is", factorial)

Enter a number to find its factorial: 10
The factorial of 10 is 3628800

In [ ]:
def factorial_function(num):
  factorial = 1
  if num == 0:
    return factorial

  else:
    for i in range(1, num+1):
      factorial = factorial * i
    return factorial

In [ ]:
print(factorial_function(int(input("Enter any number to find factorial: "))))

Enter any number to find factorial: 10
3628800